{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>Dtox</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'assets3/plugins/bootstrap/bootstrap.min.css' %}">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="{% static 'assets3/plugins/themify-icons/themify-icons.css' %}">
  <!-- slick slider -->
  <link rel="stylesheet" href="{% static 'assets3/plugins/slick/slick.css' %}">
  <!-- venobox popup -->
  <link rel="stylesheet" href="{% static 'assets3/plugins/Venobox/venobox.css' %}">
  <!-- aos -->
  <link rel="stylesheet" href="{% static 'assets3/plugins/aos/aos.css' %}">

  <!-- Main Stylesheet -->
  <link href="{% static 'assets3/css/style.css' %}" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="{% static 'assets3/images/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

</head>

<body>
  

<!-- navigation -->
<section class="fixed-top navigation">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="index.html"><img src="{% static 'assets3/images/logo.png' %}" alt="logo"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- navbar -->
      <div class="collapse navbar-collapse text-center" id="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="{% url 'core:contact' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:privacy' %}">Privacy Policy</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link page-scroll" href="{% url 'core:dashboard' %}">Dashboard</a>
          </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link page-scroll" href="{% url 'account:register' %}">Register</a>
            </li>
          {% endif %}
        </ul>
        {% if not request.user.is_authenticated %}
        <a href="{% url 'account:login' %}" class="btn btn-primary ml-lg-3 primary-shadow">Login</a>
        {% endif %}
      </div>
    </nav>
  </div>
</section>
<!-- /navigation -->

<!-- contact -->
<section class="section-lg contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-title">Contact</h2>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0">
              <div class="card p-4 border-blue"> 
                  <h5><i class="ti-email round-icon green mr-2"></i> Email</h5>
                  <p class="mb-0">{{setting.contact_page_email}}</p>
                  <a href="mailto:{{setting.email}}" class="btn btn-sm btn-success mt-3 text-light">Send Email</a>
              </div>
          </div>
          <div class="col-lg-6 col-sm-6 mb-4 mb-lg-0">
              <div class="card p-4 border-blue">
                  <h5><i class="ti-skype round-icon blue mr-2"></i> Skype</h5>
                  <p class="mb-0">{{setting.contact_page_skype}}</p>
                  <a href="skype:{{setting.skype}}?chat" class="btn btn-sm btn-info mt-3 text-light">Send Message</a>
              </div>
          </div>
      </div>
  </div>
  <!-- background shapes -->
  <img class="contact-bg-1 up-down-animation" src="{% static 'assets3/images/background-shape/feature-bg-2.png' %}" alt="background-shape">
  <img class="contact-bg-2 left-right-animation" src="{% static 'assets3/images/background-shape/green-half-cycle.png' %}" alt="background-shape">
  <img class="contact-bg-3 up-down-animation" src="{% static 'assets3/images/background-shape/green-dot.png' %}" alt="background-shape">
  <img class="contact-bg-4 left-right-animation" src="{% static 'assets3/images/background-shape/service-half-cycle.png' %}" alt="background-shape">
  <img class="contact-bg-5 up-down-animation" src="{% static 'assets3/images/background-shape/feature-bg-2.png' %}" alt="background-shape">
</section>
<!-- /contact -->


<!-- jQuery -->
<script src="{% static 'assets3/plugins/jQuery/jquery.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'assets3/plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- slick slider -->
<script src="{% static 'assets3/plugins/slick/slick.min.js' %}"></script>
<!-- venobox -->
<script src="{% static 'assets3/plugins/Venobox/venobox.min.js' %}"></script>
<!-- aos -->
<script src="{% static 'assets3/plugins/aos/aos.js' %}"></script>
<!-- Main Script -->
<script src="{% static 'assets3/js/script.js' %}"></script>

</body>
</html>