{% extends 'landing/base.html' %}
{% load static %}

{% block title %}Contact us{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <div class="container">
      <section class="features-overview" id="features-section" >
        <div class="content-header">
          <h2>Contact With Us</h2>
          <h6 class="section-subtitle text-muted">One theme that serves as an easy-to-use operational toolkit<br>that meets customer's needs.</h6>
        </div>
        <!-- <div class="d-md-flex justify-content-between">
          <div class="grid-margin d-flex justify-content-start">
            <div class="features-width">
              <h5 class="py-3">Skype</h5>
              <p class="text-muted">{{setting.skype}}</p>
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              <h5 class="py-3">Email</h5>
              <p class="text-muted">{{setting.email}}</p>
            </div>
          </div>
        </div> -->
      </section> 
      <section class="contact-us" id="contact-section">
        <div class="contact-us-bgimage grid-margin" >
          <div class="pb-2">
            <h4 class="px-3 px-md-0 m-0" data-aos="fade-down">Email</h4>
            <h4 class="pt-1" data-aos="fade-down">{{setting.contact_page_email}}</h4>
          </div>
          <div data-aos="fade-up">
            <a href="mailto:{{setting.contact_page_email}}" class="btn btn-rounded btn-outline-danger">Send Mail</a>
          </div>          
        </div>
        <div class="contact-us-bgimage grid-margin" style="background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk2MC1uaW5nLTMwLmpwZw.jpg')" >
            <div class="pb-2">
              <h4 class="px-3 px-md-0 m-0" data-aos="fade-down">Skype</h4>
              <h4 class="pt-1" data-aos="fade-down">{{setting.contact_page_skype}}</h4>
            </div>
            <div data-aos="fade-up">
              <a href="skype:{{setting.contact_page_skype}}?chat" class="btn btn-rounded btn-outline-danger">Send Message</a>
            </div>          
          </div>
      </section>
      <section class="contact-details" id="contact-details-section">
        <div class="row text-center text-md-left">
          <div class="col-12 col-md-4 mt-3">
            <h5 class="pb-2">Quick Navigation</h5>
            <a href="{% url 'core:index' %}"><p class="m-0 pb-2">Home</p></a>   
            <a href="{% url 'core:contact' %}"><p class="m-0 pb-2">Contact</p></a>   
            <a href="{% url 'account:login' %}" ><p class="m-0 pt-1 pb-2">Login</p></a> 
            <a href="{% url 'account:register' %}" ><p class="m-0 pt-1 pb-2">Register</p></a> 
          </div>
          <div class="col-12 col-md-4">
            <img src="{% static 'logo_21.png' %}" alt="" class="">
            <div class="">
              <p class="text-muted m-0">Cparobust has been connecting brands and marketing professionals through top-tier advertising and monetization solutions since 2013. Along with performance-boosting functionality.</p>
            </div>         
          </div>
          <div class="col-12 col-md-4 mt-3">
              <h5 class="pb-2">Our address</h5>
              <p class="text-muted">518 Schmeler Neck<br>Bartlett. Illinois</p>
              <div class="d-flex justify-content-center justify-content-md-start">
                <a href="mailto:{{setting.contact_page_email}}"><span class="mdi mdi-email"></span></a>
                <a href="skype:{{setting.contact_page_skype}}?chat"><span class="mdi mdi-skype"></span></a>
              </div>
          </div>
        </div> 
      </section>
      <section>
        <div>
          <hr class="hr" />
          <div class="row text-center justify-content-center">
            <p class="text-muted">Copyright &copy; 2025 Cparobust</p>
          </div>   
        </div>
      </section>
    </div> 
  </div>
{% endblock %}